{% load static %}
<! DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
    
    
</head>
<body>
    <section class="container">
        <div class="container-login">
            <div class="form-caixa">
                <form method="post" action="{% url 'core:login' %}" autocomplete="off">
                    {% csrf_token %} 
                    {{ form }}
                    <button type="submit">Entrar Com Usuário E Senha</button>
                    <a href="{% url 'core:criar_conta' %}" target="_blank">Criar Conta</a>
                </form>
            </div>
        </div>
    </section>
</body>
</html>